/* Global Settings */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #EDD9BC;
} 

img {
    max-width: 100%;
}

h1, h2, h3 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    color: #5372C0;     
}

h4, h5, h6, p, a, li, label {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #5372C0;
  line-height: 150%;
}

h2 {
    font-size: 170%;
}

h3 {
    font-size: 120%;
}

p {
    font-size: 80%;
    padding-bottom: 1.2%;
}

b {
    font-weight: 600;
}

button {
    background-color: #5372C0;
    color: #fff;
    padding: 1rem 1.5rem;
    font-family: "Fira Code", monospace;
    font-size: medium;
    font-weight: 200;
    border-radius: 20em;
    transition-duration: 0.4s;
    text-wrap: nowrap;
}

button:hover {
    background-color: #7991CE;
}
    
/* 'Normal' Devices */

/* Menu Settings */

nav li {
    font-size: x-small;
    padding-bottom: 50px;
}

.leftnav {
    background-color: #EDD9BC;
    display: flex;
    position: fixed;
    z-index: 10;
    left: 0;
    height: 100%;
    width: 4.5rem;
    text-align: center;
    align-items: center;
    filter: drop-shadow(0.1rem 0.12vw 0.5vw rgba(14, 20, 37, 0.3));
}

.rightnav {
    background-color: #EDD9BC;
    display: flex;
    position: fixed;
    z-index: 10;
    right: 0;
    height: 100%;
    width: 4.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    filter: drop-shadow(-0.1rem -0.12vw 0.5vw rgba(14, 20, 37, 0.3));
}

.hamburger {
    display: none;
}

/* About Section */

#about {
    display: flex;
    flex-direction: column;
    background-color: #EDD9BC;
    padding-left: 12vw;
    padding-right: 12vw;
}

#aboutsmalldecor {
    display: inline-flex;
    width: 5rem;
    margin-top: 0.5rem;
    margin-left: -1em;
}

#jumbotitle {
    font-size: 3em;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

.alljobtitles {
    display: inline-flex;
    flex-wrap: wrap;
}

#abouttext {
    width: 45rem;
    align-self: center;
    margin-top: 2rem;
    text-wrap: wrap;
}

#CTA {
    background-color: #7991CE;
    color: #fff;
    padding: 0 0.2em 0 0.2em;
    text-decoration: underline;
    font-weight: 300;
    transition: 0.3s;
}

#CTA:hover {
    background-color: #9FA5BE;
    color: #fff;
    padding: 0 0.2em 0 0.2em;
    text-decoration: underline;
    font-weight: 300;
}

#aboutlargedecor {
    width: 20rem;
    margin: 4rem auto auto 2.5rem;
}

#owldecor {
    height: 16rem;
    margin-top: -8rem;
    margin-left: auto;
}

/* Skills Sections */

.section {
    background-color: #EDD9BC;
    display: flex;
    flex-flow: column wrap;
    margin: auto 7% auto 7%;
    position: relative;
    align-items: center;
}

.sectiontitle {
    background-color: #EDD9BC;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin-left: 5%;
    margin-top: 2%;
    padding-bottom: 8px;
    padding-left: 25px;
    z-index: 3;
}

#skillsdecor {
    position: fixed;
    z-index: 1;
    height: 6%;
    margin: auto auto  2em;
}

#skillsection {
    background-color: #EDD9BC;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    position: -webkit-sticky; /* Safari */
    position: relative;
    align-items: center;
    margin-top: -5rem;
    z-index: 5;
}

.sectionlist {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    text-align: center;
    font-size: small;
    max-width: 840px;
    column-gap: 2rem;
    z-index: 5;
}

.sectionicons {
    padding: 1.5rem;
}

.sectionicons img {
    height: 70px;
}

#skillsmolstar {
    height: 1rem;
    z-index: 1;
    margin: -1em auto auto 26rem; 
}

#skillcrosshatch {
    height: 3rem;
    z-index: 1;
    margin: -1em auto -2em 26rem;
}

#seamonster {
    z-index: 1;
    height: 8em;
    margin: -1.5em auto auto -3em;
}

#referrals {
    position: relative;
    text-align: center;
    z-index: 5;
}

#referrals img {
    height: 25rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#entrelinhas {
    margin-top: -4rem;
    position: relative;
}

/* Project Sections */

/*Verbena Veneris*/

#projectcontainer1{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
    background-image: url(Resources/Images/Photos/verbena_bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

#description1 {
    background-color: #E2C192;
    padding: 2rem;
    width: 40%;
    margin-left: 4.5rem;
}

#verbenaphoto {
    display: none;
}

#description2 {
    background-color: #E2C192;
    padding: 2rem;
    width: 35%;
    margin-right: 4.5rem;
    margin-top: -13rem;
    overflow: visible;
    padding-bottom: 5em;
    align-self: flex-end;
}

#verbenaphoto2 {
    display: none;
}

#verbenapattern {
    position: absolute;
    right: 0;
    margin-top: -1em;
    z-index: 3;
}

#verbenalogo {
    height: 12em;
    float: left;
    flex-shrink: 2;
}

#description3 {
    background-color: #E2C192;
    padding: 2em;
    margin: -5em auto auto 4.5em;
    width: 43%;
    flex-wrap: wrap;
    position: relative;
    z-index: 4;
}

#verbenaicon1 {
    height: 7em;
    float: left;
    margin-top: -1em;
    margin-left: -1em;
}

#verbenaicon2 {
    height: 7em;
    float: left;
    margin-left: -2em;
    margin-right: 1em;
}

#projectcontainer1 button {
    position: relative;
    float: right;
    margin-right: 15%;
    margin-top: -6rem;
    transition-duration: 0.4s;
}

/*Solamen Scriptorium*/

#projectcontainer2{
    background-color: #EDD9BC;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    z-index: 5;
    background-image: url(Resources/Images/Photos/solscript_bg_img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#solscriptimg {
    display: none;
}

#description4 {
    background-color: #E2C192;
    align-self: flex-end;
    z-index: 2;
    padding: 2rem;
    width: 50%;
    margin-right: 4.5rem;
    overflow: visible;
}

#elephant {
    position: sticky;
    top: 0;
    float: right;
    height: 80%;
    margin-top: -8rem;
    z-index: 8;
}

#description5 {
    background-color: #E2C192;
    padding: 2.5%;
    margin: 10% auto auto 5%;
    width: 40%;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
    
}   

#minigallery {
    margin-left: 7.5%;
}

#minigallery img {
    width: 20%;
    position: relative;
    z-index: 2;
    margin: -2% 2% auto auto;
}

#description6 {
    background-color: #E2C192;
    padding: 2.5%;
    width: 25%;
    flex-wrap: wrap;
    position: relative;
    float: right;
    margin: -40% 6.5% 1% auto; 
}

#description6 img {
    padding-bottom: 5%;
    width: 100%;
}

#description6 p {
    padding-bottom: 7%;
}

/* Github Section */

#githubsection {
    background-color: #EDD9BC;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 3% 3% 5% 3%;
}

#githubsection p {
    width: 45rem;
    align-self: center;
    text-wrap: wrap;
}

#githubsection button {
    margin: 15%;
    text-wrap: nowrap;
    padding: 1rem 1.5rem;
}

#birdlady{
    height: 20%;
    align-self: flex-start;
    margin-left: 15%;
    margin-top: -5%;
}

#cooldragon {
    height: 20%;
    align-self: flex-end;
    margin: -22% 13% auto auto;
}

#githubdropstar {
    margin: auto auto auto 55%;
}


/* Footer Section */

footer .nav-menu {
    display: none;
}

footer {
    background-color: #EDD9BC;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
    padding: 3%;
    align-items: center;
    transition-duration: 0.3s;
}

#footersmolstart {
    padding: 1% 5% 1% 1%;
}

#backtotop {
    text-decoration: underline;
    padding-top: 2%;
    text-wrap: nowrap;
}

#backtotop:hover {
    background-color: #9FA5BE;
    color: #fff;
    padding: auto 5% auto 5%;
    text-wrap: nowrap;
}


/* Small Devices */

@media only screen and (max-width: 768px) {

    /* About Settings */

    #about {
        display: flex;
        flex-direction: column;
        background-color: #EDD9BC;
        padding-left: 5%;
    }

    #abouttext {
        width: auto;
        align-self: center;
        margin-top: 2rem;
        text-wrap: wrap;
    }

    #aboutsmalldecor {
        position: relative;
        display: flex;
        width: 25%;
        margin-top: 1%;
        margin-left: 0;
    }

    #aboutlargedecor {
        width: auto;
        margin-top: 2%;
    }

    #owldecor {
        display: none;
    }

    /* Skills Settings */

    .section {
        background-color: #EDD9BC;
        display: flex;
        flex-flow: column wrap;
        padding: 3%;
        align-items: center;
        overflow: hidden;
        position: relative;
    }
    
    .sectiontitle {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        background-color: #EDD9BC;
        padding: 3.5%;
        z-index: 3;
    }
    
    #skillsdecor {
        display: none;
    }
    
    #skillsection {
        background-color: #EDD9BC;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .sectionlist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .sectionicons {
        padding: 1rem;
        height: 90px;
    }
    
    .sectionicons img {
        padding-bottom: 0.3rem;
    }
    
    #skillsmolstar, #skillstar, #skillcrosshatch, #skillmidthinstar {
        display: none;
    }

    #seamonster {
        position: relative;
        z-index: 1;
        height: 8em;
        float: left;
        margin-top: 1%;
    }
    
    /*Referrals Settings*/
    
    #referrals {
        position: inherit;
        display: inherit;
        flex-flow: inherit;
        margin: 0;
    }
    
    #referrals img {
        display: inherit;
        flex-flow: inherit;
        height: auto;
        overflow: hidden;
        min-width: 300px;
        max-width: 320px;
        margin: 5% 0 0 0;       
    }

    #entrelinhas {
        display: inherit;
        margin-top: auto;
        position: inherit;
    }
    
    /* Projects Settings */

    /*Verbena Veneris*/

    #projectcontainer1{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-items: center;
        background-color: #EDD9BC;
        background-image: none;
    }

    #description1 {
        background-color: #E2C192;
        padding: 5%;
        width: auto;
        margin-left: 0;
        max-width: 600px;
        padding-bottom: 3%;
    }

    #verbenaphoto {
        display: flex;
    }

    #description2 {
        background-color: #E2C192;
        width: auto;
        margin-right: 0;
        margin-top: 0;
        overflow: unset;
        padding: 0 5% 25% 5%;        
        text-align: center;
    }

    #verbenalogo {
        width: auto;
        margin: 1% auto 1% auto;
        float: unset;
        position: relative;
    }

    #description2 p {
        padding: 0 5% 2% 5%;
    }

    #verbenapattern {
        position: absolute;
        right: 0;
        margin-top: -1%;
        width: 100%;
        z-index: 4;
    }

    #description3 {
        display: inline-block;
        -webkit-column-count: 2;
        -moz-column-count: 2;
            column-count: 2;
        background-color: #E2C192;
        padding: 5%;
        margin: auto;
        width: auto;
        position: relative;
        z-index: 3;
        text-align: center;
    }

    #description3 p {
        padding-bottom: 5%;
        text-align: left;
    }

    #verbenaphoto2 {
        display: unset;
    }

    #verbenaicon1 {
        height: 7em;
        float: unset;
        margin-top: auto;
        margin-left: auto;
    }
    
    #verbenaicon2 {
        height: 7em;
        float: unset;
        margin-top: auto;
        margin-left: auto;
    }

    #projectcontainer1 button {
        display: flex;
        position: inherit;
        float: unset;
        margin: 5%;
        transition-duration: 0.4s;
    }

    /*Solamen Scriptorium*/

    #projectcontainer2{
        background-color: #EDD9BC;
        display: flex;
        flex-flow: column wrap;
        position: relative;
        align-items: center;
        justify-items: center;
        background-image: cover;
        margin: 0;
        z-index: 3;

    }

    #description4 {
        background-color: #E2C192;
        align-self: center;
        padding: 5%;
        width: auto;
        margin: 0;
        overflow: hidden;
        max-width: 600px;
        margin-bottom: 3%;
    }

    #elephant {
        display: none;
    }

    #description5 {
        background-color: #E2C192;
        padding: 5%;
        margin: 0;
        width: auto;
        flex-wrap: wrap;    
    }   

    #minigallery {
        margin: 0;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: fit-content;
        justify-content: center;
        margin: auto;
    }

    #minigallery img {
        width: 40%;
        position: relative;
        margin: 0;
        padding: 0 1.5% 0 1.5%;
        margin-top: -2%;
    }

    #description6 {
        background-color: #E2C192;
        flex-flow: column wrap;
        padding: 5%;
        width: auto;
        max-width: 320px;
        position: relative;
        float: unset;
        margin: 3% auto;  
    }

    #description6 p {
        padding-bottom: 7%;
    }

    /* GitHub Settings */

    /* Github Section */

    #githubsection {
        background-color: #EDD9BC;
        display: flex;
        flex-flow: column wrap;
        position: relative;
        align-items: center;
        justify-items: center;
        padding: 5%;
    }

    #githubsection p {
        width: auto;
        align-self: center;
        text-wrap: wrap;
    }

    #githubsection button {
        margin: 15% 0 15%;
        text-wrap: nowrap;
        padding: 1rem 1.5rem;
    }

    #birdlady{
        height: 8%;
        position: relative;
        overflow: hidden;
        margin: -13% auto 20% -15%;    
        z-index: -1;
    }

    #cooldragon {
        display: none;
    }

    #githubdropstar {
        display: inherit;
        margin: -40% -50% 0 0;
    }

    /* Footer Settings */

    footer {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 3%;
        align-items: center;
    }

    #footersmolstart {
        padding: 1% 5% 1% 1%;

    }
    /* Menu Settings*/

    .leftnav, .rightnav {
        display: none;
    }

    .nav-menu {
        display: flex;
        position: fixed;
        left: -100%;
        top: 0;
        padding-top: 3rem;
        flex-direction: column;
        background-color: #EDD9BC;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);  
        z-index: 9;     
    }

    .nav-menu.active {
        left: 0;
        z-index: 9;  
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
        position: fixed;
        right: 0;
        margin: 3vw;
        z-index: 5;
        z-index: 10;  
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .bar {
        display: block;
        width: 40px;
        height: 3px;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #5372C0;
        border-radius: 100px;
    }    
}

/* XL Devices */

@media only screen and (min-width: 2560px) {

    /* Global Settings */

    h2 {
        font-size: 200%;
    }
    
    h3 {
        font-size: 170%;
    }
    
    p {
        font-size: 120%;
        padding-bottom: 1.2%;
    }

    /* Menu Settings */

    nav li {
        font-size: large;
        padding-bottom: 40%;
    }

    .leftnav {
        display: flex;
        position: fixed;
        z-index: 10;
        left: 0;
        height: 100%;
        width: 8%;
        background-color: #EDD9BC;
        text-align: center;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0.1rem 0.12vw 0.5vw rgba(14, 20, 37, 0.3));
    }

    .leftnav img {
        width: 25%;
        padding-bottom: 10%;
    }

    .rightnav {
        display: flex;
        position: fixed;
        z-index: 10;
        right: 0;
        height: 100%;
        width: 8%;
        background-color: #EDD9BC;
        text-align: center;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0.1rem 0.12vw 0.5vw rgba(14, 20, 37, 0.3));
    }

    .rightnav ul {
        width: 100%;
    }

    .rightnav img {
        width: 25%;
        padding-bottom: 10%;
    }

    .contactbunny {
        width: 40%;
    }

    /* About Section */

    #about {
        display: flex;
        flex-direction: column;
        padding-left: 20%;
        padding-right: 20%;
    }

    #aboutsmalldecor {
        display: inline-flex;
        width:8%;
        margin-top: 3%;
        margin-left: -5%;
    }

    #jumbotitle {
        font-size: 500%;
        margin-bottom: 5%;
        margin-left: 2%;
    }

    .alljobtitles {
        display: inline-flex;
        flex-wrap: wrap;
    }

    #abouttext {
        width: 70%;
        align-self: center;
        margin-top: 2rem;
        text-wrap: wrap;
    }

    /* Skills Section */

    .section {
        background-color: #EDD9BC;
        background-size: cover;
        width: auto;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column wrap;
        padding: 0 20% 0 20%;
        position: relative;
        top: 0;
    }

    .sectiontitle {
        background-color: #EDD9BC;
        background-size: cover;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        margin: auto 20% auto 20%;
        padding-bottom: 3%;
    }

    #skillsdecor {
        position: relative;
        z-index: 1;
        height: 10%;
        margin: 0 0 0 2%;
    }

    #skillsection {
        background-color: #EDD9BC;
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        align-items: center;
        margin-top: -3%;
    }

    .sectionlist {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
    }

    .sectionicons img {
        padding-bottom: 5%;
        height: 60%;
    }

    #referrals img {
        height: 600px;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    #entrelinhas {
        margin-top: -4rem;
        position: relative;
    }

    /* Projects */

    #projectcontainer1{
        margin: auto 8% auto 8%;
    }
    
    #verbenalogo {
        height: 10%;
        float: left;
        flex-shrink: 2;
    }

    #projectcontainer1 button {
        position: relative;
        float: right;
        margin-right: 16%;
        margin-top: -6rem;
        transition-duration: 0.4s;
    }

    #projectcontainer2 {
        margin: auto 8% 3% 8%;
    }

    #description6 {
        background-color: #E2C192;
        padding: 2.5%;
        width: 25%;
        flex-wrap: wrap;
        position: relative;
        float: right;
        margin: -40% 6.5% 1% auto; 
    }

    /* Github */

    #githubsection {
        display: flex;
        flex-direction: column;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 0;
        justify-content: center;
    }

    #githubsection p {
        width: 65rem;
    }

    #birdlady {
        height: 25%;
        margin-left: 20%;
        margin-top: -5%;
    }

}

/* Contact Form */

#contactformwrapper {
    display: none;
    position: relative;
    z-index: 100;
    margin: 20%;
    max-width: 80%;
    border: solid 1px #7991CE;
    background-color: #EDD9BC;
    padding: 5%;

}

form {
    display: none;
}

form p, h2, label {
    margin-bottom: 5%;
}

input {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: small;
    color: #9FA5BE;
}

#dragonleft { 
    position: absolute;
    left: 0;
    width: 300px;
    margin-top: -11.5rem;
}

#dragonright {
    position: relative;
    right: 0;
    width: 300px;
    margin-top: -11.5rem;
    transform: scaleX(-1);
}